<%-include('header')%>
<div class="container mt-3 mx-auto">
  <div class="row px-3 fst-italic fw-light" id="username"><a class="text-end" href="/users/<%=userid%>"
      style="text-decoration:none;">🍹<%=username%></a>
  </div>
  <div class="row text-center">
  <h1><%=data[0].name%></h1>
  <% if(data[0].reviews !== null ){%>
    <h3><%=avgRating%>⭐, <%=data[0].reviews%> reviews</h3>
  <%} else {%>
  <h6 class="fst-italic">be the first to leave a review!</h6>
  <%}%>
  <h6><a href="/users/<%=data[0].user_id%>"><%=data[0].username%></a></h6> 
  <h6 class="text-light fst-italic">Submitted: <%=data[0].date_created.toISOString().slice(0, 10)%>
  <% if(data[0].date_modified !== null) {%>
    Modified: <%=data[0].date_modified.toISOString().slice(0, 10)%>
  <%}%>
  </h6>
  </div>
  <div class="row px-3">
    <h4>Ingredients</h4>
  <ul class="px-4">
  <% data.forEach(data=>{ %>
    <li> <%=data.amount%> <%=data.measurement_name%> <%=data.ingredient_name%> (<%=data.ingredient_type%>)</li>
    <%})%>
  </ul>
  </div>
  <div class="row px-3">
  <h4>Flavor Profile</h4>
  <ul class="px-4">
    <% if(data[0].bitter !=='0'){%><li>Bitter: <%=Math.round(data[0].bitter*100)%>%</li><%}%>
    <% if(data[0].fruity !=='0' ){%><li>Fruity: <%=Math.round(data[0].fruity*100)%>%</li><%}%>
    <% if(data[0].savory !=='0' ){%><li>Savory: <%=Math.round(data[0].savory*100)%>%</li><%}%>
    <% if(data[0].sour !=='0' ){%><li>Sour: <%=Math.round(data[0].sour*100)%>%</li><%}%>
    <% if(data[0].spicy !=='0' ){%><li>Spicy: <%=Math.round(data[0].spicy*100)%>%</li><%}%>
    <% if(data[0].sweet !=='0' ){%><li>Sweet: <%=Math.round(data[0].sweet*100)%>%</li><%}%>
  </ul>
  <h4>ABV: <%=Math.round(data[0].overall_abv)%>%</h4>
</div>
<div class="row px-3">
  <h4>Instructions  </h4>
  <p><%=data[0].instructions%></p>
  <hr>
</div>

<% if (userIsOwner === true) {%>
<div class="row px-4 pb-3">
  <div class="col">
  <form action="/recipes/<%=data[0].id%>?_method=DELETE" method="POST">
  <input class="form-control" type="submit" value="Delete" />
</form>
  </div>
  <div class="col">
  <a class="form-control btn bg-light" href="/recipes/<%=data[0].id%>/edit"> Edit</a>
  </div>
</div>
<%} else if (userIsOwner === false) {%>
<form action="/recipes/<%=data[0].id%>" method="POST">
  <div class="row px-3 text-center py-1">
  <label for="rating" >What'd you think?</label><br>
  <div class="cont">
  <div class="stars pl-1 ">
    <input class="star star-1" id="star-1" type="radio" name="rating" value="5">
    <label class="star star-1" for="star-1"></label>
    
    <input class="star star-2" id="star-2" type="radio" name="rating" value="4">
    <label class="star star-2" for="star-2"></label>
    
    <input class="star star-3" id="star-3"type="radio" name="rating" value="3">
    <label class="star star-3" for="star-3"></label>
    
    <input class="star star-4" id="star-4"type="radio" name="rating" value="2">
    <label class="star star-4" for="star-4"></label>
    
    <input class="star star-5" id="star-5" type="radio" name="rating" value="1">
    <label class="star star-5" for="star-5"></label>
  </div>
  </div>
  </div>

  <div class="row px-3 text-center mt-0 mb-2">
  <textarea class="form-control" name="comment" placeholder="leave some words!"></textarea>
  </div>
  <div class="row w-25 my-3 mx-auto text-center">
  <input class="form-control btn btn-light" type="submit" value="OK" />
</div>
</form>
<%}%>
<div class="row px-3">
  <hr>
<% if(comments.length !== 0){
  comments.forEach(comment =>{%>
    <div>
      <h6><a href="/users/<%=comment.user_id%>">
          <%=comment.username%></a> <span class="fst-italic">, <%=comment.rating%>⭐, <%=comment.date_given.toISOString().slice(0, 10)%></span></h6>
      <%=comment.review%>
     </div> 
     <hr>
  <%})
}%>
</div>
</div>
</body>
</html>