<%-include('header')%>
  <form action="/search" method="POST">
    <div>
      <input type="radio" name="search" value="ingredient" onclick=ingredientsClick() id="ingredient-button" required <%if(searchkey === 'ingredient'){%> <%="checked"%> <%}%>>
      Search by ingredients:<br>
    </div>
    <div id="ingredient-input" style=<%if(searchkey === 'ingredient'){%> <%="display:block"%> <%} else {%><%="display:none"%><%}%> >
      <input type="text" name="ingredient" id="ingredient" <%if(searchkey === 'ingredient'){%> value="<%=searchvalue%>"<%}%>>
    </div>
    <div>
      <input type="radio" name="search" value="flavor" id="flavor-button" onclick=flavorClick() <%if(searchkey === 'flavor'){%> <%="checked"%> <%}%>> Search by flavor:<br>
    </div>
    <div id="flavor-input" style=<%if(searchkey === 'flavor'){%> <%="display:block"%><%}  else {%><%="display:none"%><%}%>>
      <input type="radio" name="flavor" value="sweet" id="sweet" class="flavor-value" required 
      <%if(searchkey !== 'flavor'){%>disabled<%}%> 
      <%if(searchvalue === 'sweet'){%> <%="checked"%> <%}%>>
      <label for="flavor">sweet</label>
      <input type="radio" name="flavor" value="sour" id="sour" class="flavor-value" 
      <%if(searchkey !== 'flavor'){%>disabled<%}%> 
      <%if(searchvalue === 'sour'){%> <%="checked"%> <%}%>>
      <label for="flavor">sour</label>
      <input type="radio" name="flavor" value="bitter" id="bitter" class="flavor-value" 
      <%if(searchkey !== 'flavor'){%>disabled<%}%> 
      <%if(searchvalue === 'bitter'){%> <%="checked"%> <%}%>>
      <label for="flavor">bitter</label>
      <input type="radio" name="flavor" value="savory" id="savory" class="flavor-value" 
      <%if(searchkey !== 'flavor'){%>disabled<%}%> 
      <%if(searchvalue === 'savory'){%> <%="checked"%> <%}%>>
      <label for="flavor">savory</label>
      <input type="radio" name="flavor" value="spicy" id="spicy" class="flavor-value" 
      <%if(searchkey !== 'flavor'){%>disabled<%}%> 
      <%if(searchvalue === 'spicy'){%> <%="checked"%> <%}%>>
      <label for="flavor">spicy</label>
      <input type="radio" name="flavor" value="fruity" id="fruity" class="flavor-value" 
      <%if(searchkey !== 'flavor'){%>disabled<%}%> 
      <%if(searchvalue === 'fruity'){%> <%="checked"%> <%}%>>
      <label for="flavor">fruity</label>
      <br />
    </div>
    <div>
      <input type="radio" name="search" value="abv" id="abv-button" onclick=abvClick()  <%if(searchkey === 'overall_abv'){%> <%="checked"%> <%}%>> Search by ABV:<br>
    </div>
    <div id="abv-input" style=<%if(searchkey === 'overall_abv'){%> <%="display:block"%><%}  else {%><%="display:none"%><%}%>>
      <input type="range" name="abv" min="1" max="100" class="abv" id="range_weight"
        <% if(searchkey === 'overall_abv'){%> value="<%=searchvalue%>"<%}%>
        oninput="range_weight_disp.value = range_weight.value + '%'">
      <output id="range_weight_disp"><% if(searchkey === 'overall_abv'){%><%=searchvalue%><%}%>%</output>
    </div>

    <div>
      <input type="submit" value="submit">
    </div>

  </form>
<h1>Search Results</h1>
<% recipes.forEach(recipe=>{ %>
  <a href="/recipes/<%=recipe.id%>">
    <%=recipe.name%>, <%=recipe.user_id%>
  </a><br />
  <%})%>

</body>
<script>

  function ingredientsClick() {

    let x = document.getElementById('ingredient-input');
    let y = document.getElementById('abv-input');
    let z = document.getElementById('flavor-input');
    let ingButton = document.getElementById('ingredient-button')

    if (x.style.display === 'none' && ingButton.checked === true) {
      x.style.display = 'block'
      document.getElementById('ingredient').disabled = false
      document.getElementById('ingredient').setAttribute('required', '')
      y.style.display = 'none'
      z.style.display = 'none'
    } else {
      x.style.display = 'none';
      document.getElementById('ingredient').disabled = true
      document.getElementById('ingredient').removeAttribute('required')
    }

  }

  function flavorClick() {
    let flavButton = document.getElementById('flavor-button')
    let x = document.getElementById('ingredient-input');
    let y = document.getElementById('abv-input');
    let z = document.getElementById('flavor-input');

    if (z.style.display === 'none' && flavButton.checked === true) {
      z.style.display = 'block'
      // console.log(document.getElementsByClassName("flavor-value")[0])
      Array.from(document.getElementsByClassName("flavor-value")).forEach(flavor => flavor.disabled = false)
      y.style.display = 'none'
      x.style.display = 'none'
      document.getElementById('ingredient').removeAttribute('required')
    } else {
      z.style.display = 'none';
      Array.from(document.getElementsByClassName("flavor-value")).forEach(flavor => flavor.disabled = true)
    }
  }

  function abvClick() {

    let abvButton = document.getElementById('abv-button')
    let x = document.getElementById('ingredient-input');
    let y = document.getElementById('abv-input');
    let z = document.getElementById('flavor-input');

    if (y.style.display === 'none' && abvButton.checked === true) {
      y.style.display = 'block'
      document.getElementsByClassName('abv')[0].disabled = false
      z.style.display = 'none'
      x.style.display = 'none'
      document.getElementById('ingredient').removeAttribute('required')
    } else {
      y.style.display = 'none';
      document.getElementsByClassName('abv')[0].disabled = true
    }

  }

</script>

</html>